{% extends 'base_home.html' %}
{% load staticfiles %}

{% block post_body %}
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: "518130741701742",
            xfbml: true,
            version: 'v2.5'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}

{%  block content %}

               
        <section class="featured-blog-posts section">       
       
            <div class="flexslider blog-slider">
                <ul class="slides">
                    <li class="slide slide-1">
                        <div class="flex-caption container">
                            <h3 class="title"><a href="#">Campaign 1</a></h3>
                            <div class="meta">$2</div>
                            <a class="more-link" href="blog-single.html">Share now &rarr;</a>
                        </div><!--//flex-caption-->
                    </li>
                    <li class="slide slide-2">
                        <div class="flex-caption container">
                            <h3 class="title"><a href="#">Campaign 2</a></h3>
                            <div class="meta">$3</div>
                            <a class="more-link" href="blog-single.html">Share now &rarr;</a>
                        </div><!--//flex-caption-->
                    </li>
                    <li class="slide slide-3">
                        <div class="flex-caption container">
                            <h3 class="title"><a href="#">Campaign 3</a></h3>
                            <div class="meta">$7</div>
                            <a class="more-link" href="blog-single.html">Share now &rarr;</a>
                        </div><!--//flex-caption-->
                </ul><!--//slides-->
            </div><!--//flexslider-->
                    
        </section><!--//featured-blog-posts-->
        
        <!-- ******BLOG LIST****** --> 
        <div class="blog container">
            <div class="row">
                <div id="blog-mansonry" class="blog-list">
                    {% for campaign in campaigns %}
                        <article class="post col-md-4 col-sm-6 col-xs-12">
                            <div class="post-inner">
                                <figure class="post-thumb">
                                    <a href="#"><img class="img-responsive" src="{% static 'overall/images/blog/post-1-thumb.jpg' %}" alt="" /></a>
                                </figure><!--//post-thumb-->
                                <div class="content">
                                    <h3 class="post-title"><a href=#">{{ campaign.title }}</a></h3>
                                    <div class="post-entry">
                                        <p>{{ campaign.description }}</p>
                                        <div class="fb-share-button" data-href="{{ campaign.url }}" data-layout="button"></div>
                                        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
                                        <a class="read-more" href="#">Learn more<i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                    <div class="meta">
                                        <ul class="meta-list list-inline">
                                            <li class="post-time post_date date updated">$2</li>
                                        </ul><!--//meta-list-->
                                    </div><!--meta-->
                                </div><!--//content-->
                            </div><!--//post-inner-->
                        </article><!--//post-->
                    {% endfor %}
                </div><!--//blog-list-->
            </div><!--//row-->
            <div class="pagination-container text-center">
                <ul class="pagination">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul><!--//pagination-->
            </div><!--//pagination-container-->
        </div><!--//blog-->        
    </div><!--//wrapper-->
  
</div>
{% endblock %}

