{% extends 'base_landing.html' %}  
{%  block content %}
<div class="about-page">    
    <div class="headline-bg about-headline-bg">
    </div><!--//headline-bg-->         
    
    <!-- ******Video Section****** --> 
    <section class="story-section section section-on-bg">
        <h2 class="title container text-center">Find Products. Share with Friends. Earn Rewards.</h2>
        <div class="story-container container text-center"> 
            <div class="story-container-inner" >                    
                <div class="about">
                    <p>Are you tired of the constant stream of useless advertisements that clutter your newsfeed? Sick of advertisers profiting off your social media presence? Skip the middle man. Advoclik directly connects you with your friends to recommend the products you love. And the best part? <b> You </b>get rewarded for doing it.</p> 
                    <p>Advoclik is simple. You choose from campaigns to find your favorite products and services. Customize your message and share directly on Advoclik. You get paid right away for sharing, and earn special bonuses based on how many of your friends respond.</p>
                    <blockquote class="belife">We believe the best recommendations come from friends. We also believe you should be rewarded for spreading the word. Advoclik is the way to get paid for helping your friends.</blockquote>               
                </div><!--//about-->
                <div class="team row">
                    <h3 class="title">Meet the team</h3>
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="../static/overall/images/team/member-1.png" alt=""/>
                                <figcaption class="info">
                                    <span class="name">Cody Cook</span>
                                    <br />
                                    <span class="job-title">Co-Founder</span>
                                    
                                </figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="../static/overall/images/team/member-2.png" alt=""/>
                                <figcaption class="info"><span class="name">Paul Kravik</span><br /><span class="job-title">Co-Founder</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="../static/overall/images/team/member-3.png" alt=""/>
                                <figcaption class="info"><span class="name">Andrew Pires</span><br /><span class="job-title">Advisor</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="../static/overall/images/team/member-4.png" alt=""/>
                                <figcaption class="info"><span class="name">Andy Rosenfield</span><br /><span class="job-title">Chairman</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="../static/overall/images/team/member-5.png" alt=""/>
                                <figcaption class="info"><span class="name">William Ryan</span><br /><span class="job-title">Co-Founder</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="../static/overall/images/team/member-6.png" alt=""/>
                                <figcaption class="info"><span class="name">Miles Witthaus</span><br /><span class="job-title">Co-Founder</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                </div><!--//team-->
            </div><!--//story-container--> 
        </div><!--//container-->
    </section><!--//story-video-->
             
</div>
{% endblock %}
