{% extends 'base_landing.html' %}  
{%  block content %}

<div class="contact-page">
    <div class="wrapper">        
        <div class="headline-bg contact-headline-bg">
        </div><!--//headline-bg-->

        
        <!-- ******Contact Section****** --> 
        <section class="contact-section section section-on-bg">
            <div class="container">
                <h2 class="title text-center">Interested in Finding Your Brand's Advocates?</h2>
                <p class="intro text-center">Advoclik rewards your loyal users and helps find new customers. Contact us for more information.</p>
                <form id="contact-form" class="contact-form" method="post" action="">                    
                    <div class="row text-center">
                        <div class="contact-form-inner col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 xs-offset-0">
                            <div class="row">                                                           
                                
                                <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                    <label class="sr-only" for="cname">Your name</label>
                                    <input type="text" class="form-control" id="cname" name="name" placeholder="Your name" minlength="2" required>
                                </div>                    
                                <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                    <label class="sr-only" for="company">Company</label>
                                    <input type="email" class="form-control" id="company" name="company" placeholder="Your company" required>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                    <label class="sr-only" for="cemail">Email address</label>
                                    <input type="email" class="form-control" id="cemail" name="email" placeholder="Your email address" required>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <label class="sr-only" for="cmessage">Your message</label>
                                    <textarea class="form-control" id="cmessage" name="message" placeholder="Enter your message" rows="12" required></textarea>
                                </div>
                                 <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <button type="submit" class="btn btn-block btn-cta btn-cta-primary">Send Message</button>
                                </div>                           
                            </div><!--//row-->
                        </div>
                    </div><!--//row-->
                    <div id="form-messages"></div>
                </form><!--//contact-form-->
            </div><!--//container-->
        </section><!--//contact-section-->
        
{% endblock %} 

