
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/overall/images/favicon.JPG">

    <title>Advoclik</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/lib/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/overall/css/advoclik.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="../static/overall/css/landing_page.css" rel="stylesheet">

  </head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="color:black" class="navbar-brand page-scroll" href="#page-top">Advoclik</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" >
                    <li>
                        <a class="page-scroll" href="#about" style="color: black">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services" style="color: black">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio" style="color: black">Brands</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact" style="color: black">Log in</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact" style="color: black">Sign up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header style="background-image: url(../static/overall/images/landing_page.JPG)">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 style="color: black">Share your favorite products.</h1>
                <hr>
                <p style="color: black">The platform that rewards you for making recommendations to your friends</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it works</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Find</h3>
                        <p class="text-muted">Find the products, places, or apps that you love</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Share</h3>
                        <p class="text-muted">Recommend them to your friends on social media</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Reward</h3>
                        <p class="text-muted">Ged paid with free products, cool experiences, or cold hard cash</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Ready to get started?</h2>
                <a href="#" class="btn btn-default btn-xl wow tada">Sign up</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Contact us</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>408-891-7848</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">miles@advoclik.com</a></p>
                </div>
            </div>
        </div>
    </section>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/lib/js/jquery-2.2.0.min.js"><\/script>')</script>
    <script src="../static/lib/js/bootstrap.min.js"></script>

<a href="login">Log in</a><br>
<a href="register">Register</a>


  </body>
</html>






