{% extends 'base.html' %}
{%  block header %}
<div class="login-page access-page has-full-screen-bg">
    <div class="upper-wrapper">
        <!-- ******HEADER****** -->
        <header class="header">
            <div class="container">
                <h1 class="logo">
                    <a href="index.html"><span class="logo-icon"></span><span class="text">Advoclik</span></a>
                </h1><!--//logo-->

            </div><!--//container-->
        </header><!--//header-->

        <!-- ******Login Section****** -->
        <section class="login-section access-section section">
            <div class="container">
                <div class="row">
                    <div class="form-box col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 xs-offset-0">
                        <div class="form-box-inner">
                            <h2 class="title text-center">Log in to Advoclik</h2>
                            <div class="row">
                                <div class="form-container col-md-5 col-sm-12 col-xs-12">
                                    <form class="login-form" method="post" action='login'>
                                      {% csrf_token %}
                                      {% if form.errors %}
                                        <p class="password-error">Your username and password didn't match. Please try again.</p>
                                      {% else %}
                                        <p></p>
                                      {% endif %}
                                        <div class="form-group email">
                                            <label class="sr-only" for="login-email">Email</label>
                                            <input class="form-control autofocus" id="id_username" maxlength="254" name="username" type="text">
                                        </div><!--//form-group-->
                                        <div class="form-group password">
                                            <label class="sr-only" for="login-password">Password</label>
                                            <input class="form-control" id="id_password" name="password" type="password">
                                            <p class="forgot-password"><a href="reset-password.html">Forgot password?</a></p>
                                        </div><!--//form-group-->
                                        <button type="submit" class="btn btn-block btn-cta-primary">Log in</button>
                                        <input type="hidden" name="next" value="/home">

                                         <p class="lead">Don't have an Advoclik account yet? <br /><a class="signup-link" href="register">Create your account now</a></p>
                                    </form>
                                </div><!--//form-container-->
                                <div class="social-btns col-md-5 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-sm-offset-0">
                                    <div class="divider"><span>Or</span></div>
                                    <ul class="list-unstyled social-login">
                                        <li><button class="facebook-btn btn" type="button"><i class="fa fa-facebook"></i>Log in with Facebook</button></li>
                                    </ul>
                                </div><!--//social-btns-->
                            </div><!--//row-->
                        </div><!--//form-box-inner-->
                    </div><!--//form-box-->
                </div><!--//row-->
            </div><!--//container-->
        </section><!--//contact-section-->
    </div><!--//upper-wrapper-->
</div>
{% endblock %}
