doctype html
html.
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="/images/logo.png">
		<title>Advoclik</title> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- attach CSS styles -->
		<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
		<link href="/stylesheets/style.css" rel="stylesheet" />
	</head>
	<body>
		<!--  BODY PAGE CONTENT -->
		<!-- attach JavaScripts -->
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/main.js"></script>
	

		<!-- navigation panel -->
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">Advoclik</a> 
		    </div>

		    <div class="collapse navbar-collapse" id="navbar-collapse-main">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#home">Home</a></li>
		        <li><a href="#about">About</a></li>
		        <li><a href="#contact">Contact</a></li>
		        <li><a href="/views/signin.html">Sign in</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<!-- first section - Home -->
		<div id="home" class="home">
		  <div class="text-vcenter">
		    <h1>Advoclik</h1>
		    <h3>Advocate for your brands, get paid!</h3>
		    <a href="#about" class="btn btn-default btn-lg">Continue</a>
		  </div>
		</div>
		<!-- /first section -->



		<!-- second section - About -->
		<div id="about" class="pad-section">
		  <div class="container">
		    <div class="row">
		      <div class="col-sm-6">
		       <img src="/images/logo.jpg" alt="" />
		      </div>
		      <div class="col-sm-6 text-center">
		        <h2>Tired of all those advertisements?</h2>
		        <p class="lead">Advoclik is simple -- you share items that you've loved with your friends over social media. In return, we pay you immediately without any hassle.</p>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- /second section -->



		<!-- third section - Services -->
		<div id="services" class="pad-section">
		  <div class="container">
		    <h2 class="text-center">Our Services</h2> <hr />
		    <div class="row text-center">
		      <div class="col-sm-3 col-xs-6">
		        <i class="glyphicon glyphicon-search"> </i>
		        <h4>Find products you love</h4>
		        <p>Check out the great Chicago companies we work with to find products you already love.</p>
		      </div>
		      <div class="col-sm-3 col-xs-6">
		        <i class="glyphicon glyphicon-envelope"> </i>
		        <h4>Share with your friends</h4>
		        <p>Post to Twitter or Facebook with our pre-provided templates, or make the message your own!</p>
		      </div>
		      <div class="col-sm-3 col-xs-6">
		        <i class="glyphicon glyphicon-thumbs-up"> </i>
		        <h4>Get paid</h4>
		        <p>Immediately after sharing through Advoclik, you instantly earn money based on the size of your social network.</p>
		      </div>
		      <div class="col-sm-3 col-xs-6">
		        <i class="glyphicon glyphicon-signal"> </i>
		        <h4>Increase your influence</h4>
		        <p>The more friends who love your recommendations, the more you'll earn the next time.</p>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- /third section -->


		<!-- fourth section - Information -->
		<div id="contact" class="pad-section">
		  <div class="container">
		    <div class="row">
		        <div class="panel panel-default">
		          <div class="panel-heading">
		            <h2 class="panel-title">Contact us</h2>
		          </div>
		          <div class="panel-body lead">
		            Questions? Email us at help@advoclik.com or
		            call at (408) 891-7848
		          </div>
		        </div>
		  </div>
		</div>
		<!-- /fourth section -->

		<!-- footer -->
		<footer>
		  <hr />
		  <div class="container">
		    <p class="text-right">Copyright &copy; Advoclik 2016</p>
		  </div>
		</footer>
		<!-- /footer -->



	</body>
</html>

